@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#bar1.opened {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#bar2.opened {
    opacity: 0;
}

#bar3.opened {
    transform: rotate(45deg) translate(-5px, -6px);
}

.font-barlow {
    font-family: 'Barlow', sans-serif;
}

.font-alfa {
    font-family: 'Alfa Slab One', serif;
}

.font-bungee {
    font-family: 'Bungee', sans-serif;
}

.font-outfit {
    font-family: 'Outfit', sans-serif;
}

.font-teko {
    font-family: 'Teko', sans-serif;
}
.font-comfortaa {
    font-family: 'Comfortaa', sans-serif;
}

.font-trebuchet {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.font-ropa {
    font-family: 'Ropa Sans', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-urbanist {
    font-family: 'Urbanist', sans-serif;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.auto-typed {
    width: 100%;
}

.warning {
    font-size: 15px;
    color: red;
}

.light {
    background: #96d4fc;
}

.dark {
    background: rgba(0, 0, 0, 0.872);
    color: white;
}


.skyblue {
    background-color: #ffffff;
}

.dark-top-bar {
    background: #383838;
}





@media (max-width: 251px) {
    #home, #about, #experience, #projects, #credentials, #proficiency {
        height: fit-content;
        padding-bottom: 15vh;
    }

    #contact {
        height: fit-content;
        padding-bottom: 10vh;
    }
}

@media (min-width: 252px) {
    #home, #about, #experience, #projects, #credentials, #proficiency {
        height: fit-content;
        padding-bottom: 15vh;
    }

    #contact {
        height: fit-content;
        padding-bottom: 10vh;
    }
}

@media (min-width: 401px) {
    #home, #about, #experience, #projects, #credentials, #proficiency {
        height: fit-content;
        padding-bottom: 15vh;
    }
    #contact {
        height: fit-content;
        padding-bottom: 10vh;
    }
}

@media (min-width: 768px) {
    #home {
        height: fit-content;
        padding-bottom: 40vh;
    }

    #about, #experience, #projects, #credentials, #proficiency {
        height: fit-content;
        padding-bottom: 15vh;
    }

    #contact {
        height: fit-content;
        padding-bottom: 10vh;
    }
}

@media (min-width: 1024px) {
    #home {
        height: fit-content;
        padding-bottom: 40vh;
    }
    #about, #experience, #projects, #credentials, #proficiency {
        height: fit-content;
        padding-bottom: 15vh;
    }
    #contact {
        height: fit-content;
        padding-bottom: 10vh;
    }
}

@media (min-width: 1279px) {
    #home {
        height: fit-content;
        padding-bottom: 45vh;
    }
    #profile2 {
        height: 400px;
        width: 350px;
    }
    
    #testimony {
        height: 29rem;
    }
    #description {
        height: 29rem;
    }
    #about, #experience, #projects, #credentials, #proficiency {
        height: fit-content;
        padding-bottom: 25vh;
    }
    #contact {
        height: fit-content;
        padding-bottom: 10vh;
    }
}

@media (min-width: 1536px) {
    #home {
        height: fit-content;
        padding-bottom: 45vh;
    }
    #about, #experience, #projects, #credentials, #proficiency {
        height: fit-content;
        padding-bottom: 25vh;
    }

    #testimony {
        height: 27rem;
    }
    #description {
        height: 27rem;
    }
    #contact {
        height: fit-content;
        padding-bottom: 10vh;
    }

}


.html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #cacaca;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #232323;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

.zoom-effect:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.underline-effect {
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.underline-effect::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2dabff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.underline-effect:hover {
    color: #2dabff;
}

.underline-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.grey-effect:hover {
    cursor: pointer;
    background: rgb(24, 24, 24);
    color: white;
    transition: all 0.3s ease;
}

.black-effect:hover {
    cursor: pointer;
    background: rgb(24, 24, 24);
    transition: all 0.5s ease;
}

.pill-effect {
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}
.pill-effect:hover {
    background: rgb(186, 186, 186);
    color: white;
    box-shadow: 0 0 10px rgb(186, 186, 186), 0 0 20px rgb(186, 186, 186), 0 0 40px rgb(186, 186, 186);
}

.pill-effect-blue {
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.pill-effect-blue:hover {
    background: rgb(19, 125, 255);
    color: white;
    box-shadow: 0 0 10px rgb(19, 125, 255), 0 0 20px rgb(19, 125, 255), 0 0 40px rgb(19, 125, 255);
}


@keyframes borderAnimation {
    0% {
        border-color: #2050ff;
        /* Initial border color */
    }

    50% {
        border-color: #ffffff;
        /* Midway border color */
    }

    100% {
        border-color: #3b64f8;
        /* Final border color */
    }
}

.border-animation {
    animation: borderAnimation 4s infinite;
}

.hover-zoom-effect:hover {
    transform: scale(1.04);
    transition: transform 0.4s ease;
}

.hover-zoom-effect2:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.hover-zoom-effect3:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease;
}

.white-shadow {
    box-shadow: 0 5px 8px -2px gray;
}

.white-bg {
    background-image: linear-gradient(#96d4fc, rgba(255, 255, 255, 0.393));
}

.black-bg {
    background-image: linear-gradient(#000000b9, rgba(255, 255, 255, 0.151));
}

